@font-face {
	font-family: 'Druk Wide Web';
	src: url('DrukWide-MediumItalic-Web.woff2') format('woff2'),
		 url('DrukWide-MediumItalic-Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	}

.DrukWide-MediumItalic-Web {
	font-family: 'Druk Wide Web';
	font-weight: 500;
	font-style: italic;
	}
