@font-face {
	font-family: 'Druk Wide Web';
	src: url('DrukWide-HeavyItalic-Web.woff2') format('woff2'),
		 url('DrukWide-HeavyItalic-Web.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	}

.DrukWide-HeavyItalic-Web {
	font-family: 'Druk Wide Web';
	font-weight: 800;
	font-style: italic;
	}
