@font-face {
	font-family: 'Druk Wide Web';
	src: url('DrukWide-Super-Web.woff2') format('woff2'),
		 url('DrukWide-Super-Web.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	}

.DrukWide-Super-Web {
	font-family: 'Druk Wide Web';
	font-weight: 900;
	font-style: normal;
	}
